# === Java / Maven ===
target/
*.class
*.jar
*.war
*.log

# === Node / Frontend ===
node_modules/
dist/
.vite/

# === Docker ===
.env

# === IDEs ===
.idea/
*.iml
.vscode/
.project
.classpath
.settings
.factorypath

# === OS ===
.DS_Store
Thumbs.db

# === Spring Boot ===
*.pid
heapdump.*
